.calendar {
  &-modal {
    height: 90vh;
  }
  // min-width: 800px;
  overflow-x: auto;
  &-leftColumn {
    padding-right: 0;
  }
  &-rightColumn {
    padding-left: 0;
  }
  &-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    border-right: 2px solid #dbdbdb;
    &__control {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
    }
    .checkbox {
      padding: 10px;
      .chk-input {
        margin-right: 10px;
      }
    }
  }
  &-weekControl {
    padding: 1.5rem 1.5rem 0 1.5rem;
    h1 {
      padding-left: 2rem;
    }
  }
  &-grid {
    user-select: none;
    display: flex;
    padding-top: 15px;
    flex-wrap: wrap;
    color: #3c4043;
    font-size: 0.8rem;
    overflow-y: scroll;
    height: 75vh;
  }
  &-day {
    display: flex;
    flex-direction: column;
    width: 13.5%;
    position: relative;
    &:first-child {
      width: 5.5%;
    }
  }
  &-time {
    border: 1px solid #dbdbdb;
    border-width: 1px 1px 0 0;
    padding-right: 5px;
    &__control {
      border: 1px solid #dbdbdb;
      border-width: 1px 1px 0 0;
      justify-content: center;
      display: flex;
      // padding-top: -15px;
      // width: 9%;
      span {
        display: flex;
        justify-content: center;
        overflow: visible;
        margin-top: -10px;
        background-color: white;
        width: 90%;
      }
    }
  }
  &-title {
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    .fas {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  &-today {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00d1b2;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
  }
  &-resizable {
    overflow: hidden;
    background-color: #dbdbdb;
    color: white;
    text-align: right;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.25rem;
    font-size: 0.8rem;
  }
  &-notToday {
    font-size: 1.2rem;
    color: #3c4043;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 40px;
    width: 40px;
  }
  &-header {
    display: flex;
    // margin-bottom: 10px;
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      background-color: white;
    }
    &__element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 13.5%;
      &-first {
        width: 5.5%;
      }
    }
  }
  &-event {
    overflow: visible;
    background-color: #1a73e8;
    width: 100%;
    border-radius: 2px;
    text-align: right;
  }
  &-letters {
    text-transform: uppercase;
    color: #70757a;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

hr {
  height: 5px;
  width: 100%;
  background-color: black;
}

.datetimepicker {
  box-shadow: none;
}

.datetimepicker-footer-today {
  color: #00d1b2 !important;
  font-weight: 700;
}
